@import 'tailwindcss';

@theme {
  --auto-fill: repeat(auto-fill, minmax(300px, 1fr));
}

body {
  margin: 0;
  font-family: Zain;
  background-color: #fff;
}

#nprogress .bar {
  height: .2rem;
  background: #fb2c36 !important;
}